.container-cards {
    display: grid;
    grid-template-columns: 240px 240px 240px 240px;
    grid-template-rows: 280px 280px 280px 280px;
}
.container-card {
    display: flex;
    text-align: center;
    justify-content: flex-end;
    flex-direction: column;
    background-color: #323232;
    height: 268px;
    width: 220px;
    margin: 16px;
    padding: 10px;
    border-radius: 8px;
    margin-left: 100px;
}
.container-card:hover {
    background-color: #282828;
}
#title {
    font-size: 24px;
    color: white;
}
#tag{
    font-size: 16px;
    color: #8a8a8a;
}
#price {
    font-size: 16px;
    color:green;
}
#cart {
    text-align: center;
    background-color: #8a8a8a;
    border-style: none;
    border-radius: 50%;
    height: 20px;
    width: 20px;
}
#cart:hover {
    background-color: #8a8a8a63;
}
#label-cart {
    color: white;
}
.container-foto {
    display: flex;
    align-items: flex-start;
    height: 500px;
    object-fit: contain;
}
.foto {
    border-radius: 8px;
    height: 140px;
    width: 200px;
}
